<div class="h-3rem shadow-1 p-5">
  <div class="h-full flex align-items-center justify-content-between ml-5">
    <div>
      <i class="pi pi-home mr-1"></i>
      <span class="">Inicio ></span>
      <span class="ml-1 text-blue-500">Cadastro de Fornecedor</span>
    </div>
    <p-menubar [model]="items" />
  </div>
</div>
<div class="w-screen mt-5">
  <h3 class="ml-8 mb-4 font-semibold">Cadastro de Fornecedor</h3>
  <div class="flex ml-8">
    <p-card
      ><ng-template pTemplate="headless">
        <div class="flex flex-row">
          <div
            class="cursor-pointer mt-5 w-10rem h-10rem border-1 shadow-1 mr-8 flex justify-content-center align-items-center"
          >
            <i class="pi pi-upload text-4xl"></i>
          </div>
          <div class="flex flex-column gap-4 mt-3">
            <div class="flex flex-column">
              <label>Razao Social</label>
              <input pInputText />
            </div>
            <div class="flex flex-column">
              <label>Nome Fantasia</label>
              <input pInputText />
            </div>
            <div class="flex flex-column">
              <label>CNPJ</label>
              <input pInputText />
            </div>
            <div class="flex flex-column">
              <label>Telefone</label>
              <input pInputText />
            </div>
            <div class="flex flex-column">
              <label>Nome do Representante</label>
              <input pInputText />
            </div>
            <div class="flex align-content-center justify-content-center">
              <p-button label="Salvar" (onClick)="salvar()"></p-button>
            </div>
          </div></div></ng-template
    ></p-card>
  </div>
</div>
