<p-confirmDialog />
<div class="h-3rem shadow-1 p-5">
  <div class="h-full flex align-items-center justify-content-between ml-5">
    <div>
      <i class="pi pi-home mr-1"></i>
      <span class="" routerLink="/home">Inicio ></span>
      <span class="ml-1 text-blue-500">Listagem de Forncedor</span>
    </div>
    <p-menubar [model]="items" />
  </div>
</div>
<div class="w-screen mt-5">
  <h3 class="ml-8 mb-4 font-semibold text-4xl">Listagem de Fornecedor</h3>
  <div class="flex ml-8">
    <p-card
      ><ng-template pTemplate="headless">
        <p-iconField iconPosition="left" class="mr-5">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Pesquisar por fornecedor"
            class="custom-input"
          />
        </p-iconField>
        <br />
        <br />
        <br />
        <p-table
          [value]="fornecedores"
          paginator="true"
          [rows]="5"
          dataKey="id"
          editMode="row"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Nome Fantasia</th>
              <th>Razao Social</th>
              <th>CNPJ</th>
              <th>Telefone</th>
              <th class="flex justify-content-center align-items-center">
                Açoes
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-product
            let-editing="editing"
            let-ri="rowIndex"
          >
            <tr [pEditableRow]="product">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.nome }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" required />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.razao }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.cnpj }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.telefone }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div
                  class="flex align-items-center justify-content-center gap-2"
                >
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text"
                  ></button>
                  <p-button
                    *ngIf="!editing"
                    pButton
                    styleClass="text-red-500"
                    pRipple
                    type="button"
                    icon="pi pi-trash"
                    (click)="confirm2($event)"
                    class="p-button-rounded p-button-text"
                  ></p-button>
                  <p-button
                    *ngIf="editing"
                    pButton
                    pRipple
                    styleClass="text-green-400"
                    type="button"
                    (onClick)="
                      this.toastService.notify(
                        'Confirmação',
                        'Fornecedor editado com sucesso!'
                      )
                    "
                    pSaveEditableRow
                    icon="pi pi-check"
                    class="p-button-rounded p-button-text p-button-success mr-2"
                  ></p-button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table> </ng-template
    ></p-card>
  </div>
</div>
