@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

@layer reset, primeng;

@layer reset {
  //Toast se adaptar em telas menores.
  .p-toast {
    max-width: calc(100vw - 40px);
  }

  //Font-size funciona como o scale geral da aplicação
  html {
    box-sizing: border-box;
    font-size: 18px;
    background-color: var(--surface-ground);
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2rem;
}

@media (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
